@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.navbar li.add {
  background-color: #04AA6D;
}

ul.navbar li.add a{
  color: white;
}

ul.navbar li a {
  display: block;
  color: #000;  
  padding: 8px 16px;
  text-decoration: none;
}

ul.navbar li a.active {
  background-color: #04AA6D;
  color: white;
}

ul.navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.todo_panel {
  padding-left: 220px;
  padding-top: 20px;
}